<style>

         .corpo{
            width: 50%;
            height: 100px;
            /* border: 3px solid black; 
            border-radius: 2%; */
            margin-top: 10px;
            /*background-color:white;*/
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }

        .projetos{
            margin-top: 10px;
           background-color: rgba(21, 255, 0, 0.138);
           border-radius: 10%;
        }

       .rodape{
           position: fixed;
           bottom: 0;
           background-color: black;
           display: flex;
           justify-content:center;
           width: 100%;
           color:white;
       }

       .fruto-orange{
            color: orange;
            font-size: 1rem;
            font-weight: 300;
       }

       .Seja_consciente{
             text-align: center;
             color: #ffffff;
             font-size: 100px; 
             font-style: oblique;
             font-family:Arial, Helvetica, sans-serif;       
        }
        
        .informaçoes{
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin-left: auto; 
            margin-right: auto;
            margin-top: 10px;
            font-size: 22px;
            text-align: center;
        }
        
       .equipes{
           margin-top: 10px;
           background-color: rgba(21, 255, 0, 0.103);
           border-radius: 10%;
       }

        .botoes{
            text-align: center;            
        }
        .Botoes-centro{
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 50px;
        }

        .Preto-Top{
            background-color: rgb(0, 0, 0);
            height: 80px;
        }

        .Redes_sociais ul li{
            display: inline-block;
            float: left;
            list-style: none;
        }
        
        .Redes_sociais{
            width: 20%;
            float: right;
        }
        .insta{
            width: 50px;
            height: 50px;
        }

        .zap{
            width: 50px;
            height: 50px;
        }
        
        /*         .Fundo{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
 */
        .conteiner{
            width: left;
            margin: auto;
            position: relative;
            color: black;
            margin-top: 0%;
        }
        .conteiner img{
            width: 100%;
            border-radius: 2%;
            width: 1325px;
            height: 500px;
        }
        .Seja_consciente{
            position: absolute;
            top: 10%;
            left: 25%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.192);
        }
        .b-insta2{
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
        }
        .b-zap2{
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
        }
        .Como_Funciona{
            text-align: left;
            font-size: 40px; 
             font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 10px;
            display: inline-block; 
        }
        .Como_Funciona2{
            text-align:left;
            margin-top: 20px;
            color: rgb(0, 0, 0);
            font-size: 19px; 
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             background-color: rgba(255, 255, 255, 0);
             width: 95%;
             margin-right: 81px;
        }
        .quem_somos{
            text-align: left;
            font-size: 40px; 
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 10px;
            float: left;
        }
        .introducao{
            text-align:left;
            margin-top: 20px;
            color: rgb(0, 0, 0);
            font-size: 19px; 
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: rgba(207, 0, 0, 0);
            width: 85%;
            }
        .cronograma1{
            text-align:left;
            margin-top: 30px;
            color: rgb(0, 0, 0);
            font-size: 19px; 
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .cronograma{
            text-align:left;
            margin-top: 170px;
            color: rgb(0, 0, 0);
            font-size: 18px; 
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             background-color: rgba(255, 255, 255, 0);
            }
            .tudo{
                background-color: rgba(255, 255, 255, 0.103);
                border-radius: 10px;
            }
            .coleta{
                background-color: rgba(255, 255, 255, 0.185);
                border-radius: 10px;
                width: 90%;
            }
            .coleta1{
                background-color: rgba(255, 255, 255, 0.185);
                border-radius: 10px;
                width: 90%;
            }
            .coleta2{
                background-color: rgba(255, 255, 255, 0.185);
                border-radius: 10px;
                width: 90%;
            }
            .coleta3{
                background-color: rgba(255, 255, 255, 0.185);
                border-radius: 10px;
                width: 90%;
            }
            .img_D{
            width: 50%;
            width: 250px;
            float: left;
            border-radius: 100%;
            }
            .img_E{
            width: 50%;
            width: 250px;
            float: left;
            border-radius: 100%;
            }
            .E{
                text-align: center;
            }
            .Bibiografia1{
                text-align: left;
                font-size: 22px;
                margin-left: 18%;
            }
            .Bibiografia2{
                text-align: left;
                font-size: 22px;
                margin-left: 36%;
            }
            .FIM{
                text-align: right;
                font-size: 20px;
            }
            
  </style>